table tr td {
    line-height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr {
    text-align: center;
}

th {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

td {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}
